body{
    margin:0;
    font-family:Arial, Helvetica, sans-serif;
}
.topnev{
    overflow: hidden;
    background-color: aqua;
}
.topnev a{
    float:left;
    color:burlywood;
    text-align: center;
    padding: 14px 16px;
    text-decoration:none;
    font-size: 17px;
}
.topnev a:hover{
    background-color: rgb(255, 0, 0);
    color: rgb(251, 127, 255);
}
.topnev a.active{
    background-color: crimson;
    color: cornflowerblue;
}